.info-container {
  background-color: var(--body-background);
  color: var(--numeros-letras-primario);
  height: 30vh;
  width: 100%;
}

.info {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.info h1 {
  text-align: center;
  font-size: 2.5rem;
}
