.about-img {
  padding: 0 15px;
  width: 40%;
}

.about-text {
  padding: 0 15px;
  width: 60%;
}

.about-img .img-box {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 10px;
  margin: auto;
  max-width: 380px;
}

.about-img .img-box img {
  width: 100%;
}

.about-text h3 {
  font-size: 2rem;
  margin: 20px 0;
  text-transform: capitalize;
}

.about-text .skills {
  display: flex;
  flex-wrap: wrap;
}

.about-text .skill-item {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 20px;
  margin: 0 10px 10px 0;
  padding: 5px 15px;
  text-transform: capitalize;
}

.about-tabs {
  margin-top: 20px;
}

.about-tabs .tab-item {
  background-color: transparent;
  border: none;
  color: var(--blue-dark);
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 30px 0 0;
  opacity: 0.5;
  padding: 2px 0;
  position: relative;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child {
  margin: 0;
}
.about-tabs .tab-item::before {
  background-color: var(--blue-dark);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease;
  width: 0%;
}

.about-tabs .tab-item:hover::before {
  background-color: var(--main-color);
  width: 100%;
}

.about-text .timeline {
  position: relative;
}

.about-text .timeline::before {
  background-color: var(--main-color);
  content: "";
  height: 100%;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1px;
}

.about-text .tab-content {
  padding: 40px 0;
}

.about-text .timeline-item {
  margin-bottom: 30px;
  padding: 10px 0 0 40px;
  position: relative;
}

.about-text .timeline-item::before {
  background-color: var(--main-color);
  border-radius: 50%;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 11px;
}

.about-text .timeline-item:last-child {
  margin-bottom: 0;
}
.about-text .timeline-item .date {
  color: var(--main-color);
  display: block;
  font-weight: 400;
  margin: 0 0 10px;
}
.about-text .timeline-item h4 {
  font-size: 1.8rem;
  margin: 0 0 10px;
  text-transform: capitalize;
}
.about-text .timeline-item h4 span {
  font-weight: 400;
}

.about-text .btn {
  margin: 0 15px 15px 0;
}
