figure {
  padding: 0 20px;
  width: 100%;
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.contact-info-item {
  align-items: center;
  display: flex;
  margin: 0 0 30px;
  padding: 0 0 0 20px;
  /* width: 100%; */
}

.contact-info-item h3 {
  font-size: 2rem;
  text-transform: capitalize;
}
.contact-info-item h3 p {
  text-transform: none;
  font-weight: lighter;
}

.contact-info-item .social-links a {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 10px;
  display: inline-flex;
  margin-left: 20px;
  transition: box-shadow 0.3s ease;
}

.contact-info-item .social-links a img {
  width: 100%;
}

.contact-info-item .social-links a:hover,
.contact-info-item .social-links a:focus {
  transform: scale(1.05);
  box-shadow: 0 0 5px 1px var(--blue-dark);
}
