.contact-form,
.contact-info {
  padding: 0 15px;
  width: 50%;
}

.contact-form .input-group {
  margin-bottom: 30px;
  width: 100%;
}

.contact-form .input-control::placeholder {
  color: var(--blue-dark);
  font-weight: 300;
  opacity: 0.8;
}
.contact-form .input-control {
  background-color: var(--white-alpha-25);
  border: 1px solid transparent;
  border-radius: 25px;
  color: var(--blue-dark);
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  height: 50px;
  padding: 0 20px;
  width: 100%;
}

.contact-form .input-control:focus {
  border: 2px solid var(--white-alpha-40);
}
.contact-form textarea.input-control {
  height: 120px;
  padding-top: 15px;
  resize: none;
}

.contact-info-item {
  margin: 0 0 30px;
  padding: 0 0 0 20px;
}

.contact-info-item h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.contact-info-item .social-links a {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  border-radius: 10px;
  display: inline-flex;
  margin-left: 20px;
  transition: box-shadow 0.3s ease;
}

.contact-info-item .social-links a img {
  width: 100%;
}

.contact-info-item .social-links a:hover,
.contact-info-item .social-links a:focus {
  transform: scale(1.05);
  box-shadow: 0 0 5px 1px var(--blue-dark);
}
