.header {
  padding: 20px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header .nav-toggler {
  align-items: center;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  box-shadow: 0 0 5px 5px var(--white-alpha-40);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 15px;
  width: 50px;
}
.header .nav-toggler span {
  background-color: var(--main-color);
  height: 2px;
  position: relative;
  width: 24px;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after {
  background-color: var(--main-color);
  content: "";
  height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  top: 0;
  width: 100%;
}

.header .nav-toggler span::before {
  left: 0;
  transform: translateY(-8px);
}
.header .nav-toggler span::after {
  right: 0;
  transform: translateY(8px);
}

.header .nav-toggler:focus,
.header .nav-toggler:hover {
  box-shadow: 0 0 5px 1px var(--main-color);
}
.header .nav-toggler:focus span::before,
.header .nav-toggler:focus span::after,
.header .nav-toggler:hover span::before,
.header .nav-toggler:hover span::after {
  width: 50%;
}

.header .nav {
  border: 1px solid red;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
