.navbar {
  background-color: transparent;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 2rem;
  z-index: 1;
}

.scrolling {
  background-color: #000;
  transition: all 0.5s ease;
}

.navbar-logo {
  color: var(--numeros-letras-primario);
  cursor: pointer;
  height: 100%;
  line-height: 80px;
}
