footer {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 0;
  width: 100%;
  margin-top: 30px;
}

.footer-content {
  /* background-color: var(--header-background); */
  color: var(--numeros-letras-primario);
  height: 4em;
  padding-top: 5px;
}

.content-icons {
  display: flex;
  justify-content: center;
}

.content-icons > * {
  cursor: pointer;
  margin-left: 20px;
}

.text-copy {
  color: var(--numeros-letras-primario);
  cursor: pointer;
  margin-left: 10px;
  padding-top: 5px;
  text-decoration: none;
}
