:root {
  --body-background: #f0f3fa;
  --numeros-letras-primario: #111521;
  --letras-cover: #f9f9f9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "JetBrains Mono", monospace;
  font-size: 62.5%;
  background-color: var(--body-background);
}

@media screen and (min-width: 760px) {
  .about-container {
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 700px;
  }
  .about-container__img img {
    width: 100%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about-container {
    max-width: 1024px;
    margin-bottom: 20px;
  }

  .slider {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 3fr 1fr;
  }

  .slider section {
    grid-column: 2;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --numeros-letras-primario: #f9f9f9;
    --body-background: #2d3556;
  }
}
